.middle{
margin-left: 450px;
}

button {
    margin: 25px;
}

body{
    background-color: blueviolet;
}

.box {
    border: burlywood solid 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;

}

.form {
    box-shadow: 0px -3px 14px 15px burlywood ;
    margin: 30px;
    border-bottom: paleturquoise dotted 2px;
}

input {
    padding-right: 50px;
}

p {
    box-shadow: 0px -3px 14px 15px burlywood ;
    margin: 100px; 
    background-color: coral;
}
